clusters:
  - kind  # replace with your kubectl context name

controller:
  image: controller

cniwatcher:
  enabled: true
  image: cniwatcher
  tag: latest
  cniType: calico  # aws-vpc, calico, cilium, or flannel
  # goldmaneEndpoint: "goldmane.calico-system.svc:7443"     # for calico
  # hubbleEndpoint: "unix:///var/run/cilium/hubble.sock"    # for cilium
